* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--font-anton: 'Anton', sans-serif;
	--dark-25: #4e4e4e;
	--dark-50: #3b3b3b;
	--dark-100: #282022;
	--pink: #eb8aad;
	--pink-hover: #d05b85;
	--yellow: #ffde5d;
}

.splide__pagination{
    bottom: -3.8rem !important;
}

.splide__pagination__page{
    height: 1.5rem !important;
    width: 1.5rem !important;
    background-color: var(--yellow) !important;
}

.splide__pagination__page.is-active{
    transform: scale(1) !important;
    background-color: white !important;
}


html {
	font-family: 'Anton', sans-serif;
	font-family: 'Khand', sans-serif;

	font-size: clamp(0.75rem, 1vw, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
a,
button,
img,
input,
textarea,
label {
	all: unset;
}

a,
button {
	cursor: pointer;
}

.container {
	max-width: min(90%, 1440px);
	margin-inline: auto;
}

.material-symbols-outlined {
	user-select: none;
}
